/* Mobile Portrait View */
@media screen and (max-width:767px) {
  * {
    box-sizing: border-box;
  }
  .left,
  .right,
  .copyright-txt,
  .design-by,
  .headertop .left,
  .headertop .right {
    float: none;
    margin: 0 auto;
    text-align: center;
  }
  .center {
    width: 100%;
  }
  .container {
    width: auto;
    padding: 0 15px;
  }
  .footer {
    padding-bottom: 30px;
  }
  .wrap_one {
    width: auto;
    text-align: center;
  }
  .header {
    width: 100%;
    padding: 0 0 5px 0;
    position: relative!important;
  }
  .logo {
    float: none;
    text-align: center;
    padding: 10px 0px 5px 0 !important;
    position: relative;
    width: auto;
	min-height:inherit;
  }
  .logo h2 {
    text-align: center;
	font-size:30px;
	padding-bottom:6px;
  }
  .logo p {
    text-align: center;
	float: none;
	margin: 10px auto 0;
  }
  #sidebar {
    width: 100%;
    float: none;
  }
  .content-area {
    width: auto;
    margin: 0;
    padding: 50px 20px;
  }
  .site-main {
    width: auto;
    margin: 0;
    padding: 0 0 20px;
    float: none;
  }
  .copyright-wrapper {
    text-align: center;
  }
  h2.section_title {
    text-align: center;
  }
  .BlogPosts {
    float: none;
    width: auto;
    margin: 0 0 10%;
  }
  .wpcf7 input[type="text"],
  .wpcf7 input[type="tel"],
  .wpcf7 input[type="email"],
  .wpcf7 textarea {
    width: 100%;
  }
  input.search-field {
    width: 66%;
  }
  .toggle {
    margin: 0 auto;
  }
  .copyright-txt {
    padding: 15px 0 15px 0;
  }
  .header .container {
    border-bottom: none;
    padding: 0;
  }
  .row_area {
    margin: 0;
  }
  .footerleft {
    float: none;
    text-align: center;
  }
  body.home .page_content {
    padding: 0;
  }
  .col-columns-2 {
    width: 100%;
    padding: 25px 15px;
    box-sizing: border-box;
    float: none;
  }
  .site-navigation .menu li {
    padding: 0!important;
  }
  .site-navigation .menu ul a,
  .site-navigation .menu ul ul a {
    color: #FFF!important;
  }
  body.wp-custom-logo .logo{
	  padding:20px 0 !important;
  }
  #navigation{
	  float:none;
	  text-align:center;
	  width:100%;
	  padding-bottom:0px;
	  padding-top:40px;
  }
  #top-social{
	  float:none;
	  text-align:center;	  
  }
  .social-icons{
	  margin-top:0px;
  }
  .transheader{
	  position:relative !important;
	  background-color:#111111 !important;
  }
  .main-navigation ul li a{
	  line-height:inherit;
  }
  .header-extras{
	  width:85%;
	  margin:0 auto 20px;
	  float:none;
	  padding-top:0px;
  }
  .header-extras .header-search-form{
	  left:0;
	  right:0;
	  width:100%;
	  bottom:-53px;
   }
  .inner-banner-thumb h1{
	  left:0;
	  right:0;
	  top:30%;
	  text-align:left;
	  font-size:25px;
	  padding-left:30px;
   }
   .cols-3{
	   float:none;
	   width:100% !important;
	   margin: 0 0 0.5% 0;
	   padding-top:40px;
	}
	.cols-3:nth-of-type(1) {
		padding-top:0;
	}
	.blog-post{margin:0;}
	.blog_lists{
		float:none;
		width:100%;
		margin-bottom:30px;
		margin-left:0px;
		margin-right:0px;
	}
	.page_content{
		padding:5px 0;
	}	
	.adventure-lite-banner br{
		display:none;
	}
	.header-phone-number{
		margin-bottom:25px;
		float:left;
		margin-left:80px;
	}
	.adventure-lite-banner-section .linear{
		top:0px;
	}
	.adventure-lite-banner-section :where(h2, h4){
		text-align:left;
	}
	.adventure-lite-banner-section h4 br{
		display:none;
		visibility:hidden;
	}
	.adventure-lite-banner-section{
		background-size:contain !important;
	}
	.adventure-lite-banner-section h2{
		font-size:25px !important;
	}
	.adventure-lite-choose-img-box .skt-blocks-block-section {
		border-width: 0 0 1px 0 !important;
	}
	.inner-banner-thumb{
		min-height:150px;
	}
	.inner-banner-thumb img{
		min-height:inherit;
	}
	.inner-banner-thumb h1{
		top: 50px;
		text-align: center;
		padding: 0;
	}
	.header-right-infos{
		float:none;
		padding:0;
	}	
	.header-cart{
		padding-top:0px;
		margin-top:0px;
		margin:auto;
		/*margin-left:140px;*/
		margin-bottom:25px;
		float:none;
		display:table;
		padding-left:0px;
	}
	.skt-header-quote-btn a{
		bottom: -54px;
		right: 0;
		left: 0;
		padding: 10px 20px;
		font-size: 16px;
	}
	.heder-rightside{
		float:none;
		text-align:center;
	}
	.main-navigation button.menu-toggle {top:0px !important;}
	.heder-rightside{width:100% !important;}
}
/* Mobile Landscape View */
@media screen and (min-width: 480px) and (max-width: 767px) {
  .container,
  .content-area {
    width: auto;
    margin: 0 auto;
  }
  .post-thumb {
    width: 100%;
    float: none;
  }
  .toggle {
    width: 100%;
  }
  .row_area {
    margin: 0;
  }
  .site-navigation .menu li {
    padding: 0!important;
  }
  .logo {
    padding: 25px 420px 25px 0;
  }
  #navigate-main {
    width: 100%;
  }
  .inner-banner-thumb h1{
	  left:0;
	  right:0;
	  text-align:left;
	  font-size:40px;
	  padding-left:55px;
   }
  .blog-post{margin:0;}
  .blog_lists{
		float:none;
		width:100%;
		margin-bottom:30px;
		margin-left:0px;
		margin-right:0px;
  }	
  .adventure-lite-banner br{
	  display:none;
  }
  .get-button-karate{
	  float:none;
	  margin-left:0px;
   }
  .header-phone-number{
	  margin: 15px auto;
   }  
   .adventure-lite-welcome-rating-column .elementor-container{
	   margin:0 auto !important;
	}
   .adventure-lite-banner-section .linear{
	   top:0px;
   }
   .adventure-lite-banner-section :where(h2, h4){
	   text-align:left;
	}
   .adventure-lite-banner-section h4 br{
	   display:none;
	   visibility:hidden;
	}
   .adventure-lite-banner-section{
	   background-size:contain !important;
   }
   .adventure-lite-banner-section h2{
	   font-size:25px !important;
   }
   .adventure-lite-choose-img-box .skt-blocks-block-section {
	   border-width: 0 0 1px 0 !important;
   }
   .adventure-lite-section4 .skt-blocks-block-section{
		padding-bottom:0px !important;
   }
   #footer{padding:0 45px 25px 45px;}
   .footerarea{padding-top:0;}
   .footer-logo{padding:45px 0 0 0;}
}
/* Tablet View */
@media screen and (max-width:1023px) and (min-width:768px) {
  body.wp-custom-logo .logo {
    padding: 25px 50px 12px 0!important;
  }
  .menu-toggle {
    top: 34px;
  }
  .site-navigation .menu li {
    padding: 0!important;
  }
  .header {
    width: 100%;
  }
  .header .container {
    padding: 0 0 0 25px;
  }
  #navigate-main {
    width: 100%;
  }
  .site-navigation .menu ul a,
  .site-navigation .menu ul ul a {
    color: #FFF!important;
  }
  .main-navigation ul li a{
	  line-height:inherit;
   }
  #navigation{
	  float:none;
	  width:100%;
   }
  .main-navigation button.menu-toggle{
	  text-align:left !important;
	  margin:0 !important;
	  top:34px;
  }
  .social-icons{
	  margin-top:-15px;
	  padding-left:75px;
   }
  .copyright-area{
	  position: relative !important;
   }
  .header-extras{
	  padding-top:0px;
	  margin-top:-20px !important;
   }
  .inner-banner-thumb h1{
	  padding-left:25px;
	  font-size:45px;
  }
  .blog_lists h4{
	  font-size:18px;
  }
  .blog-post{margin:0;}
  .blog_lists{
	float:none;
	width:100%;
	margin-bottom:20px;
	margin-left:0px;
	margin-right:0px;
  }
  aside.widget{
	  margin-bottom:20px;
  }
  .header-phone-number{
	  margin: -15px 0 20px 30px;
  }
  .adventure-lite-banner-section .linear{
	  top:0px;
  }
  .adventure-lite-banner-section :where(h2, h4){
	  text-align:left;
  }
  .adventure-lite-banner-section h4 br{
	  display:none;
	  visibility:hidden;
   }
  .adventure-lite-banner-section{
	  background-size:cover !important;
  }
  .adventure-lite-banner-section h2{
	  font-size:25px !important;
  }
  .adventure-lite-choose-img-box .skt-blocks-block-section {
	  border-width: 0 0 1px 0 !important;
  }
  .inner-banner-thumb{
	  min-height:inherit;
  }
  .inner-banner-thumb h1{
	  top:110px;
	  font-size:20px !important;
   }
  .adventure-lite-section4 .skt-blocks-block-section{
		padding-bottom:0px !important;
   }
   .header-cart{padding-top:0px; margin-top:-20px;}
   #sidebar h2, #sidebar .wp-block-search__label{font-size:18px;}
   .footer h2{font-size:20px;}
   .footerarea{padding-top:40px;}
   .header-right-infos{padding:0px;}   
}
@media screen and (max-width:1169px) and (min-width:768px) {
  * {
    box-sizing: border-box;
  }
  .center {
    width: auto;
  }
  .header .container {
    padding: 0 20px 0 20px;
  }
  .container {
    width: 100%;
    padding: 0 20px;
  }
  .logo {
    width: auto;
    float: left;
    position: relative;
    text-align: center;
  }
  .content-area {
    width: auto;
    margin: 0;
    padding: 50px 20px;
  }
  #sidebar {
    width: 30%;
  }
  .site-main {
    width: 68%;
  }
  .footer {
    padding-top: 0;
    padding-bottom: 30px;
  }
  input.search-field,
  .post-password-form input[type="password"] {
    width: 53%;
  }
  .head-info-area .center {
    width: 98%;
  }
  .toggle {
    float: right;
    width: 15%;
    margin-top: 3.8%;
  }
  .logo {
    min-height: inherit;
  }
  .post-password-form input[type="password"] {
    width: 50%!important;
  }
  .row_area {
    margin-left: 0;
  }
  .header-extras {
    margin-top: 20px;
    padding-right: 35px;
  }
  body.wp-custom-logo .logo {
    padding: 25px 25px 25px 0;
  }
  .main-navigation ul li a{
	  padding:0 11px !important;
  }
  .main-navigation li.menu-item-has-children a:after {
	  right:-5px !important;
  }
  .header-extras{
	  margin-top:0px !important;
  }
  .inner-banner-thumb h1{
	  padding-left:25px;
	  font-size:45px;
  }
  .blog_lists h4{
	  font-size:18px;
  }
  .postmeta{
	  padding:0 0 10px 0;
  }
  body.wp-custom-logo .logo{
	 padding: 12px 20px 16px 20px !important;
  }
  .heder-rightside{
	  padding-right:0;
  }
  .footer-logo{padding: 45px 0 0 0;}
  .main-navigation button.menu-toggle{
	  right:0;
	  float:right;
  }
  .inner-banner-thumb{
	  min-height:250px;
  }
  .inner-banner-thumb h1{
	  font-size:35px !important;
  }  
  .banner-container{width:auto;} 
  #main-set .transheader{width:100%; height:80px;}
  #sidebar h2, #sidebar .wp-block-search__label{font-size:20px;}
  .footer h2{font-size:20px;}
  .footerarea{padding-top:0;}
  .footer-row .widget_nav_menu ul{margin:0 !important;}
}

@media screen and (min-width: 768px) and (max-width: 980px) {
  .post-thumb {
    height: auto;
  }
  #navigation{
	width:100%;
	text-align:right;
  }
  .header-extras{
	margin-top:-22px !important;
  }
  .main-navigation ul{
	position:relative;
	top:35px;
	margin-left:17px;
  }
  .main-navigation.toggled ul li:last-child{
	  margin-bottom:50px;
  }
  .main-navigation.toggled ul ul li:last-child{
	  margin-bottom:0px;
  }	  
  .inner-banner-thumb{
	  min-height:250px;
  }
  .inner-banner-thumb h1{
	  top:110px;
	  font-size:30px !important;
   }   
   .skt-header-quote-btn a{
	   bottom:-54px;
   }
	.adventure-lite-section4 .skt-blocks-block-section{
		padding-bottom:0px !important;
   }	
}

@media screen and (max-width:1169px) and (min-width:981px) {
  html {
    overflow-x: hidden;
  }
  .headertop .header-inner {
    width: auto;
  }
  input.search-field,
  .post-password-form input[type="password"] {
    width: 70%;
  }
  .toggle {
    width: inherit;
  }
  .sitenav ul li a {
    padding: 40px 14px;
  }
  .blog_lists{
	  margin:0 10px 30px 10px;
  }
}
@media screen and (min-width: 981px) {
  /* Menus */
  .menu-toggle,
  .dropdown-toggle {
    display: none;
  }
  .site-navigation {
    align-items: start;
  }
  .site-navigation .primary-menu,
  .site-navigation .social-menu {
    position: static;
  }
  .site-navigation .menu li {
    position: relative;
    width: auto;
    left: unset;
  }
  .site-navigation .menu ul li:first-child {
    border-top: 0;
  }
  .site-navigation .menu a,
  .site-navigation .menu ul a,
  .site-navigation .menu ul ul a {
    padding: .75em .95em;
  }
  .site-navigation .menu ul {
    position: absolute;
    background-color: #ffffff;
    text-align: left;
    top: 100%;
    left: -9999em;
  }
  .site-navigation .menu li:hover > ul,
  .site-navigation .menu li:focus > ul,
  .site-navigation .menu li.focus > ul {
    left: 0;
  }
  .site-navigation .menu ul li {
    position: relative;
    width: 220px;
  }
  .site-navigation .menu li li:hover > ul,
  .site-navigation .menu li li:focus > ul,
  .site-navigation .menu li li.focus > ul {
    top: 0;
    left: 100%;
  }
  .site-navigation .menu ul a:hover,
  .site-navigation .menu ul a:focus {
    color: #000000;
  }
  .menu-item-has-children > a:after,
  .page_item_has_children > a:after {
    font-family: dashicons;
    content: '\f347';
    vertical-align: bottom;
    margin-left: .25em;
  }
  .menu-item-has-children .menu-item-has-children > a:after,
  .menu-item-has-children .page_item_has_children > a:after,
  .page_item_has_children .menu-item-has-children > a:after,
  .page_item_has_children .page_item_has_children > a:after {
    content: '\f345';
    font-family: dashicons;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
  }
  .headertop {
    text-align: center;
  }
  .headertop .header-inner {
    width: auto;
  }
  .headertop .header-inner,
  .widget-left,
  .topright {
    width: auto;
    padding: 0;
    float: none;
  }
  .topbar-container {
    float: none;
  }
  .container.menuwrapper {
    background: transparent!important;
  }
  #menubar {
    border-top: 3px solid transparent!important;
  }
  #topmenu {
    float: none;
  }
}

@media screen and (min-width:1024px) {
	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
	}
}

@media(max-width:1024px) {
	.heder-rightside{width:70%;}
	.main-navigation {
		width: 100%;
	}

	.main-navigation button.menu-toggle {
		width: 40px;
		text-align: center;
		margin:0 auto;
		background: transparent;
		border: 0;
		color: #ffffff;
		padding: 10px;
		height: 40px;
		position: relative;
		cursor: pointer;
		z-index:99999;
		top:25px;
	}

	.main-navigation button.menu-toggle span.nav-icon {
		float: right;
		background: #fff;
		color: #000;
		height: 43px;
		width: 45px;
		line-height: 43px;
		text-align: center;
		position: absolute;
		right: 20px;
		top: 11px;
		border: 1px solid;
	}

	#primary-menu ul.nav-menu {
		position: absolute;
		width: 100%;
		left: 0;
		box-shadow: 0 0 10px rgb(0 0 0 / 12%);
		background: #ffffff;
		z-index: 99;
		margin-top: 5px;
	}

	.main-navigation button.menu-toggle span.nav-icon:hover {
		background: #6abe52;
		color: #ffffff;
		cursor: pointer;
	}
	
	.main-navigation.toggled ul{
		margin-left:0px;
	}

	.main-navigation.toggled ul li {
		text-align: left;
		line-height: 37px;
		float: left;
		position: relative;
		width: 100%;
		background-color:#111111;
	}

	.main-navigation.toggled ul ul,
	.main-navigation.toggled ul ul ul {
		position: relative;
		width: 100%;
		float: left;
		display: block;
		opacity: 0;
		left: 0;
		height: 0;
		box-shadow: none;
	}

	.main-navigation ul ul ul {
		right: 0;
		opacity: 0;
		left: 0;
	}

	.main-navigation.toggled ul li:hover ul,
	.main-navigation.toggled ul li:focus ul,
	.main-navigation.toggled ul li.focus ul {
		display: block;
		opacity: 1;
		height: auto;
	}

	.main-navigation.toggled ul li:hover ul ul,
	.main-navigation.toggled ul li:focus ul ul,
	.main-navigation.toggled ul li.focus ul ul {
		display: block;
		opacity: 0;
		height: 0;
		box-shadow: none;
	}

	.main-navigation.toggled ul  ul li:hover ul,
	.main-navigation.toggled ul  ul  li:focus ul,
	.main-navigation.toggled ul  ul li.focus ul {
		display: block;
		opacity: 1;
		left: 0;
		height: auto;
		box-shadow: none;
	}

	.main-navigation.toggled ul li a {
		padding: 2px 15px;
	}
	.main-navigation ul ul li.menu-item-has-children > a:after {
		content: "\f347";
		font-family: dashicons;
	}
	.main-navigation ul ul li a{color:#e64d43;}
	.main-navigation ul li ul li a{color:#e2b4b4;}
}

@media screen and (max-width: 29.938em) {
	.footer-social{
		padding: 0 0 25px 0;
		float:none;
		text-align:center;
	}	
	.footer-logo{
		float:none;
		text-align:center;
		padding:25px 0;
	}
	#footermenu{
		margin-top:0px;
	}
	#footermenu li{
		display:block;
		padding:10px 0;
	}
	.adventure-lite-welcome-rating-acolumn{
		margin-left:10px;
	}
}

@media screen and (max-width:72.438em) and (min-width:63.250em) {
.skt-header-extras .skt-header-button a{padding:26px 0 26px 50px;}
#topmenu ul li a{padding:37px 16px;}
.adventure-lite-section2 img {width:92%;}	
}

@media screen and (max-width:63.938em) and (min-width:48.000em) {	 	
	#footermenu li{
		padding:5px 15px;
	}
	.copyright-txt{
		padding:25px 0;
	}
}


@media screen and (max-width: 29.938em) {
.responsive-heading-desc-text{ line-height:28px !important;}
#simple-menu{ margin-top:5px;}
.wpcf7-submit{ margin-top:0px;}	
#footer{padding:0;}
.footerarea{padding-top:20px;}
.footer-row ul li a::before{padding-right:12px;}
.footer-row .widget_nav_menu ul{margin-left:15px; margin-right:15px; margin-bottom:-15px;}
}

@media screen and (max-width:47.938em) and (min-width:30.000em) {
#simple-menu{margin-bottom:10px;}
#footer{padding:0;}
.footer-row ul li a::before{padding-right:16px;}
.footer-row .widget_nav_menu ul{margin-left:15px; margin-right:15px; margin-bottom:-15px;}
}